body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url('images/background.jpg'); /* Fotoğrafın yolu */
    background-size: cover; /* Fotoğrafın tüm ekranı kaplaması için */
    background-position: center; /* Fotoğrafın merkezlenmesi */
    background-repeat: no-repeat; /* Fotoğrafın tekrar etmesini önler */
    margin: 0;
    padding: 0;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

.hidden {
    display: none;
}

h1, h2 {
    color: #333;
}
