

body {
    font-family: 'Press Start 2P', cursive;
    color: #f5e6c8;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-image: url('images/background.jpg'); /* Arka plan resmi */
    background-size: cover; /* Resim tüm alanı kaplar */
    background-position: center; /* Ortalanmış */
    background-repeat: no-repeat; /* Tekrar etmez */
    background-attachment: fixed; /* Sayfa kaydırıldığında arka plan sabit kalır */ 

}




.output {
    color: white; /* Yazı rengi beyaz */
    font-weight: bold; /* Daha belirgin olsun diye kalın yazı */
    font-size: 18px; /* Yazı boyutunu biraz büyüt */
}

button {
     font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  padding: 10px 15px;
  background-color: #3e2f1c; /* koyu kahve, ahşap tonu */
  color: #f5e6c8; /* parşömen sarısı */
  border: 2px solid #d4af37; /* altın rengi */
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 0 8px rgba(212, 175, 55, 0.6);
    transition: background-color 0.3s ease;
}

/* Buton Hover Efekti */
button:hover {
  background-color: #d4af37;
  color: #3e2f1c; /* ahşap rengi */
  box-shadow: 0 0 15px rgba(212, 175, 55, 0.9);
}

input {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.hidden {
    display: none;
}

h1, h2, h3 {
    color: #fff; /* Başlık yazı rengi beyaz */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Hafif gölge efekti */
}

/* Battle Log */
.log-box {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 10px;
    color: white;
    font-size: 14px;
    z-index: 999;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#logList {
    list-style-type: none;
    padding-left: 10px;
    font-size: 14px;
}

#logList li {
    margin-bottom: 5px;
    border-left: 2px solid white;
    padding-left: 8px;
}

.log-success {
    color: #6aff6a; /* yeşil */
    font-weight: bold;
}

.log-fail {
    color: #ff6a6a; /* kırmızı */
    font-weight: bold;
}

.log-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-controls button {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
    transition: color 0.2s;
}

.log-controls button:hover {
    color: #ff6a6a;
}